body{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}

.lato-font{
    font-family: "Lato", sans-serif;
    font-style: normal;
}
:root{
    --highlight-color: rgb(218, 74, 122);
    --primary-color: rgba(85, 85, 85, 0.932);
}
.title{
    font-size: 2.1rem;
    font-weight: 800;
    text-align: center;
}
.text-style{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: var(--primary-color);
    line-height: 23px;
}
span{
    color: var(--highlight-color);
}

header{
    background-color: rgba(247, 224, 228, 0.966);
    max-width: 100%;
}
.discount-container{
    max-width: 100%;
    background-color: rgb(253, 239, 241);
    padding: 0 13px;
}
footer{
    max-width: 100%;
    background-color: black;
}
button{
    border: none;
    outline: none;
    background-color: rgb(218, 74, 122);
    color: white;
    cursor: pointer;
    padding: 10px 26px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
}


/* Header section starts here */
.header-container{
    max-width: 1440px;
    padding: 0 13px;
    margin: 0 auto 80px auto;
    display: flex;
    padding-bottom: 30px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.header-contents{
    max-width: 650px;
}
.header-contents > h1{
    font-size: 3rem;
    font-weight: 900;
}
.header-contents > p{
    font-size: 1rem;
    font-weight: 500px;
    color: var(--primary-color);
    margin: 23px 0;
}
.header-bg{
    min-width: 440px;
    height: 650px;
    background: url(../assets/pngwing10.png);
    background-repeat: no-repeat;
    background-size: 470px;
    background-position: bottom;
}
/* Header section ends here */

/* Featured section starts here */
.featured-container{
    max-width: 1440px;
    margin: 0 auto 80px auto;
    padding-left: 13px;
    padding-right: 13px;
}
.featured-intro{
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
.featured-items{
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}
.featured-flower{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.featured-flower > img{
    width: 300px;
    height: 340px;
    padding: 90px 30px 0 30px;
    border-radius: 50% 50% 0 0;
}
.featured-flower > h5{
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
}
.shobuh-ful{
    background-color: rgba(168, 241, 201, 0.534);
}
.akashi-ful{
    background-color: rgba(162, 220, 243, 0.531);
}
.golapi-ful{
    background-color: rgba(247, 203, 210, 0.534);
}
/* Featured section ends here */

/* Service section starts here */
.service-container{
    padding: 0 13px;
    max-width: 1140px;
    margin: 0 auto 80px auto;
}
.service-items{
    background-color: rgba(211, 211, 211, 0.418);
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
}
.service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 65px 20px;
    gap: 10px;
}
.service-item > img{
    width: 70px;
}
.service-item > p{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
}
/* Service section ends here */

/* Discount section starts here */
.discount-section{
    max-width: 1440px;
    margin: 0 auto 80px auto;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 55px 0;
    align-items: center;
}
.discount-contents{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}
.discount-img{
    width: fit-content;
}
.discount-img > img{
    width: 280px;
}
/* Discount section ends here */

/* Instagram section starts here */
.instagram-container{
    max-width: 1440px;
    margin: 0 auto 80px auto;
    align-items: center;
}
.instagram-intro{
    max-width: 50%;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.instagram-posts{
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 13px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.instagram-posts > img{
    width: 250px;
    border-radius: 5px;
}
/* Instagram section ends here */

/* Subscribe section starts here */
.subscribe-container{
    max-width: 1200px;
    margin: 0 auto 80px auto;

}
.subscribe-section{
    margin: 0 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: url(../assets/Rectangle9.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 110px 15px;
    gap: 30px;
}
.subscribe-intro{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subscribe-section > form{
    display: flex;
    gap: 12px;
}
.email-field, .submit-btn{
    border: none;
    outline: none;
    height: 50px;
    font-size: 1.2rem;
}
.submit-btn{
    background-color: palevioletred;
    color: white;
    width: 120px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
}
.email-field{
    width: 500px;
    border-left: 20px solid transparent;
    border-radius: 5px;
}
/* Subscribe section ends here */